@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;
@use "../../styles/partials/extends" as *;



.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  background-color: $cta-hover;

  .video-player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: to-rem(966);
    margin: 0 auto;

    @include tablet {
      max-width: to-rem(790);
    }

    @include desktop {
      max-width: to-rem(966);
    }

    &__video {
      width: 100%;
      height: auto;
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: to-rem(16);
      margin-bottom: to-rem(12);

      @include tablet {
        height: to-rem(32);
      }

      .video-player__control {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        padding: to-rem(10);
        margin-right: to-rem(10);
        height: 100%;

        &.play-pause {
          margin-left: to-rem(9);
          border-radius: 0.25rem;

          button {
            background: none;
            border: none;
            cursor: pointer;

            img {
              width: to-rem(24);
              height: to-rem(7);

              @include tablet {
                height: to-rem(14);
              }
            }
          }
        }

        &.scrubber {
          border-radius: 0.25rem;
          flex: 1;
          display: flex;
          align-items: center;

          input[type='range'] {
            flex: 1;
            -webkit-appearance: none;
            appearance: none;
            background: $cta-hover;
            height: to-rem(3.5);
            border-radius: to-rem(5);
            outline: none;
            margin-right: to-rem(10);
          }

          input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: to-rem(10);
            height: to-rem(10);
            background: $cta-hover;
            border-radius: 50%;
            cursor: pointer;
          }

          .video-player__time {
            color: $primary-text-light-bg-active-cta;
            font-size: to-rem(7);

            @include tablet {
              font-size: to-rem(10);
            }
          }
        }

        &.volume-fullscreen {
          border-radius: 0.25rem;
          display: flex;
          align-items: center;

          @include tablet {
            margin-top: 0;
          }
          @include desktop {
            margin-top: 0;
          }

          .video-player__volume-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            // z-index: 10;
            height: to-rem(30);

            .video-player__volume {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: to-rem(6.5);
              @include tablet {
                margin-top: to-rem(2.5);
              }

              img {
                margin-bottom: to-rem(3);
                margin-left: to-rem(5);
                height: to-rem(14);

                @include tablet {
                  height: to-rem(21);
                }
              }
            }

            input[type='range'] {
              -webkit-appearance: slider-vertical;
              width: to-rem(8);
              height: to-rem(75);
              background: $primary-text-light-bg-active-cta;
              border-radius: to-rem(5);
              outline: none;
              position: absolute;
              bottom: to-rem(30);
              left: 50%;
              transform: translateX(-50%) rotate(180deg);
            }

            input[type='range']::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: to-rem(10);
              height: to-rem(10);
              background: $cta-hover;
              border-radius: 50%;
              cursor: pointer;
            }
          }

          button {
            background: none;
            border: none;
            cursor: pointer;

            img {
              width: to-rem(24);
              height: to-rem(10);

              @include tablet {
                height: to-rem(21);
              }
            }
          }
        }
      }
    }
  }
}
