@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/functions' as *;
@use '../../../styles/partials/extends' as *;
@use '../../../App.scss' as *;

.main-content {
  @extend %flex-column;
  .video-info {
    &__title {
      @extend %section-header-style;
      @extend %header-padding-style;
     
    }
    .video-info__user {
      @extend %flex-row;
      @extend %element-padding-style;
      padding-top: 1rem;
      position: $position-for-comments;

      .video-info__user--left {
        @extend %flex-column;
        flex: 3;
        .user__name {
          color: $primary-text-dark-bg;
          font-family: $font-family-avenir;
          font-weight: $font-weight-demi;
          font-size: to-rem(13);
          line-height: to-rem(18);
          @include tablet {
            font-size: to-rem(14);
            line-height: to-rem(22);
          }
        }

        .user__date {
          @extend %labels-style;
          font-weight: $font-weight-normal;
          font-size: to-rem(12);
          padding-top: to-rem(10);
        }
      }
      .video-info__user--right {
        @extend %flex-column;
        flex: 2;
        .user__view-count {
          @extend %labels-style;
          font-weight: $font-weight-normal;
          font-size: to-rem(12);
          align-items: center;
          display: flex;

          .view-count__icon {
            width: to-rem(22);
            height: to-rem(22);
            margin-right: to-rem(8);
          }

        }
        .user__like-count {
          @extend %labels-style;
          font-weight: $font-weight-normal;
          font-size: to-rem(12);
          padding-top: to-rem(10);
          align-items: center;
          display: flex;

          .like-count__icon {
            width: to-rem(18);
            height: to-rem(18);
            margin-right: to-rem(8);
          }
        }
      }
      &::after {
        @extend %divider-style;
        @extend %divider-style-top;
      }
    }
    .video-info__description {
      @extend %copy-style;
      padding-top: 1rem;
    

    }
  }
.comments {
    @extend %flex-column;
    &__count {
      padding-left: 1rem;
      padding-bottom: 1rem;
      color: $primary-text-dark-bg;
      font-family: $font-family-avenir;
      font-weight: $font-weight-demi;
      font-size: to-rem(13);
      line-height: to-rem(18);
      @include tablet {
        font-size: to-rem(14);
        line-height: to-rem(22);
      }
    }
   
    &__container {
      @extend %flex-row;
      @extend %element-padding-style;
      position: $position-for-comments;
      @include tablet {
        @include about-style;
        padding-bottom: $padding-minimal;
      }
      @include desktop {
        padding-left: $padding-for-desktops-comments;
        padding-right: $padding-for-desktops-comments;
      }
      &::after {
        @extend %divider-style;
      }
      .avatar-container {
        background-image: url("../../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        background-position: left;
        @extend %flex-column;
        margin-top: $padding-before-headlines;
        @extend %avatar-style;
      }
      .form-container {
        width: $image-width;
        @extend %flex-column;
        padding-left: $padding-after-headlines;

        .form {
          @extend %flex-column;
          &__label {
            @extend %labels-style;
            
          font-size: to-rem(11);
          }
          &__field {
            border: to-rem(1) solid $divider-form-outline;
            background-color: $alternative-light-bg;
            border-radius: $border-radius;
            padding: to-rem(12);
            margin-top: $border-radius;
            margin-bottom: $padding-after-headlines;
            min-height: $avatar-mobile-width;
            @include tablet {
              padding: $padding-after-headlines;
              min-height: $avatar-tablet-width;
            }

            &::placeholder {
              color: $cta-hover;
              font-family: $font-family-avenir;
              font-weight: $font-weight-normal;
              font-size: to-rem(13);
            }
            &.error {
              border-color: $error-color;
            }
            &:focus,
            &:active,
            &:focus-visible {
              outline-color: $primary-text-dark-bg;
              outline-width: to-rem(1);
            }
          }

          #comment {
            height: to-rem(88);
          }

          &__button {
            @extend %buttons-style;
            background-image: url('../../../assets/images/add_comment.svg');
            background-repeat: no-repeat;
            background-position: 12px 50%;
            background-size: to-rem(18); 
          }
        }
      }
    }
    #comments__list {
      @extend %flex-column;
      padding-bottom: $padding-after-headlines;
      @include tablet {
        padding-bottom: $padding-for-tablets;
      }

      .comments-item {
        @extend %flex-row;
        @extend %element-padding-style;
        padding-top: $padding-after-headlines;
        position: $position-for-comments;
        @include tablet {
          @include about-style;
          padding-top: $padding-before-headlines;
          padding-bottom: $padding-before-headlines;
        }
        @include desktop {
          padding-left: $padding-for-desktops-comments;
          padding-right: $padding-for-desktops-comments;
        }

        &__avatar {
          @extend %avatar-style;
        }
        &__container {
          @extend %flex-column;
          padding-left: $padding-after-headlines;
          width: $image-width;
          .comment__name-date {
            @extend %flex-row;
            padding-bottom: $padding-minimal;
            .comment__container-name {
              color: $primary-text-dark-bg;
              font-family: $font-family-avenir;
              font-weight: $font-weight-demi;
              font-size: to-rem(13);
              line-height: to-rem(18);
              flex: 9;

              @include tablet {
                font-size: to-rem(14);
                line-height: to-rem(22);
              }
            }
            .comment__container-date {
              @extend %labels-style;
              font-weight: $font-weight-normal;
              font-size: to-rem(12);
              flex: 5;
              text-align: right;
            }
          }
          .comment__text {
            @extend %copy-style;
            padding: to-rem(0);
          }
          
        }

        &::after {
          @extend %divider-style;
        }
      }
    }
  }
}